Repository ia-toki/judgels, pull requests merged in 2019-03, with the labels that each got.

#119 Fix bundle scoreboard not appeared
  judgels-frontends/raphael/src/routes/uriel/contests/single/scoreboard/BundleScoreboardTable/BundleScoreboardPage.test.tsx
  judgels-frontends/raphael/src/routes/uriel/contests/single/scoreboard/BundleScoreboardTable/BundleScoreboardPage.tsx
  judgels-frontends/raphael/src/routes/uriel/contests/single/scoreboard/ScoreboardTable/ScoreboardTable.tsx
Labels: bug, raphael

#121 Fix bundle scoreboard empty answer and ordering bugs; add tests
  judgels-backends/uriel/uriel-app/src/main/java/judgels/uriel/contest/scoreboard/bundle/BundleScoreboardProcessor.java
  judgels-backends/uriel/uriel-app/src/main/java/judgels/uriel/contest/scoreboard/bundle/UsingTotalAnsweredItemsBundleScoreboardEntryComparator.java
  judgels-backends/uriel/uriel-app/src/test/java/judgels/uriel/contest/scoreboard/bundle/BundleScoreboardProcessorTests.java
Labels: bug, uriel

#124 Bundle Submission Page
  judgels-frontends/raphael/src/modules/api/sandalphon/submissionBundle.ts
  judgels-frontends/raphael/src/modules/api/uriel/contestSubmissionBundle.ts
  judgels-frontends/raphael/src/routes/uriel/contests/single/problems/single/ContestProblemPage/ContestProblemPage.tsx
  judgels-frontends/raphael/src/routes/uriel/contests/single/submissions/Bundle/ContestSubmissionRoutes.tsx
  judgels-frontends/raphael/src/routes/uriel/contests/single/submissions/Bundle/ContestSubmissionsPage/ContestSubmissionsPage.scss
  judgels-frontends/raphael/src/routes/uriel/contests/single/submissions/Bundle/ContestSubmissionsPage/ContestSubmissionsPage.tsx
  judgels-frontends/raphael/src/routes/uriel/contests/single/submissions/Bundle/ProblemSubmissionsCard/ProblemSubmissionCard.scss
  judgels-frontends/raphael/src/routes/uriel/contests/single/submissions/Bundle/ProblemSubmissionsCard/ProblemSubmissionCard.tsx
  judgels-frontends/raphael/src/routes/uriel/contests/single/submissions/Bundle/SubmissionSummaryPage/SubmissionSummaryPage.scss
  judgels-frontends/raphael/src/routes/uriel/contests/single/submissions/Bundle/SubmissionSummaryPage/SubmissionSummaryPage.tsx
  judgels-frontends/raphael/src/routes/uriel/contests/single/submissions/Bundle/VerdictTag/VerdictTag.tsx
  judgels-frontends/raphael/src/routes/uriel/contests/single/submissions/Bundle/modules/contestSubmissionActions.ts
  judgels-frontends/raphael/src/routes/uriel/contests/single/submissions/Programming/ContestSubmissionsPage/ContestSubmissionsPage.tsx
  judgels-frontends/raphael/src/routes/uriel/contests/single/submissions/Programming/ContestSubmissionsTable/ContestSubmissionsTable.tsx
  judgels-frontends/raphael/src/routes/uriel/contests/single/submissions/Programming/modules/contestSubmissionActions.test.ts
  judgels-frontends/raphael/src/routes/uriel/contests/single/submissions/Programming/modules/contestSubmissionActions.ts
  judgels-frontends/raphael/src/routes/uriel/contests/single/submissions/Programming/single/ContestSubmissionPage/ContestSubmissionPage.tsx
Labels: feature, raphael

#126 Fix grading config leak in Uriel bundle problem worksheet endpoint
  judgels-backends/sandalphon/sandalphon-api/src/main/java/judgels/sandalphon/api/problem/bundle/Item.java
  judgels-backends/sandalphon/sandalphon-api/src/main/java/judgels/sandalphon/api/problem/bundle/MultipleChoiceItemConfig.java
  judgels-backends/sandalphon/sandalphon-api/src/main/java/judgels/sandalphon/api/problem/bundle/StatementItemConfig.java
  judgels-backends/sandalphon/sandalphon-client/src/main/java/judgels/sandalphon/SandalphonUtils.java
  judgels-backends/sandalphon/sandalphon-client/src/main/java/judgels/sandalphon/problem/bundle/ItemProcessor.java
  judgels-backends/sandalphon/sandalphon-client/src/main/java/judgels/sandalphon/problem/bundle/ItemProcessorRegistry.java
  judgels-backends/sandalphon/sandalphon-client/src/main/java/judgels/sandalphon/problem/bundle/MultipleChoiceItemProcessor.java
  judgels-backends/sandalphon/sandalphon-client/src/main/java/judgels/sandalphon/problem/bundle/StatementItemProcessor.java
  judgels-backends/sandalphon/sandalphon-client/src/main/java/judgels/sandalphon/submission/bundle/FixedVerdictItemSubmissionGrader.java
  judgels-backends/sandalphon/sandalphon-client/src/main/java/judgels/sandalphon/submission/bundle/ItemSubmissionGraderRegistry.java
  judgels-backends/sandalphon/sandalphon-client/src/main/java/judgels/sandalphon/submission/bundle/MultipleChoiceItemSubmissionGrader.java
  judgels-backends/sandalphon/sandalphon-client/src/test/java/judgels/sandalphon/submission/bundle/FixedVerdictItemSubmissionGraderTests.java
  judgels-backends/sandalphon/sandalphon-client/src/test/java/judgels/sandalphon/submission/bundle/MultipleChoiceItemSubmissionGraderTests.java
  judgels-backends/uriel/uriel-app/src/integTest/java/judgels/uriel/api/contest/problem/ContestProblemServiceIntegrationTests.java
  judgels-backends/uriel/uriel-app/src/integTest/java/judgels/uriel/api/mocks/MockSandalphon.java
  judgels-backends/uriel/uriel-app/src/main/java/judgels/uriel/contest/problem/ContestProblemResource.java
  judgels-legacy/sandalphon/app/org/iatoki/judgels/sandalphon/controllers/api/client/v2/ClientProblemAPIControllerV2.java
Labels: bug, sandalphon, uriel

#128 Fix Bundle Sumission UI
  judgels-frontends/raphael/src/routes/uriel/contests/single/submissions/Bundle/ContestSubmissionsPage/ContestSubmissionsPage.scss
  judgels-frontends/raphael/src/routes/uriel/contests/single/submissions/Bundle/ContestSubmissionsPage/ContestSubmissionsPage.tsx
  judgels-frontends/raphael/src/routes/uriel/contests/single/submissions/Bundle/ProblemSubmissionsCard/ProblemSubmissionCard.scss
  judgels-frontends/raphael/src/routes/uriel/contests/single/submissions/Bundle/ProblemSubmissionsCard/ProblemSubmissionCard.tsx
Labels: feature, raphael

#131 Contest bundle submission ui
  judgels-frontends/raphael/src/routes/uriel/contests/single/submissions/Bundle/ContestSubmissionsPage/ContestSubmissionsPage.scss
  judgels-frontends/raphael/src/routes/uriel/contests/single/submissions/Bundle/ContestSubmissionsPage/ContestSubmissionsPage.tsx
  judgels-frontends/raphael/src/routes/uriel/contests/single/submissions/Bundle/ProblemSubmissionsCard/ProblemSubmissionCard.scss
  judgels-frontends/raphael/src/routes/uriel/contests/single/submissions/Bundle/ProblemSubmissionsCard/ProblemSubmissionCard.tsx
  judgels-frontends/raphael/src/routes/uriel/contests/single/submissions/Bundle/SubmissionSummaryPage/SubmissionSummaryPage.scss
  judgels-frontends/raphael/src/routes/uriel/contests/single/submissions/Bundle/SubmissionSummaryPage/SubmissionSummaryPage.tsx
  judgels-frontends/raphael/src/routes/uriel/contests/single/submissions/Bundle/VerdictTag/VerdictTag.tsx
Labels: feature, raphael

#132 add config type in sandalphon api
  judgels-frontends/raphael/src/components/ProblemWorksheetCard/Bundle/ProblemStatementCard/ItemMultipleChoiceCard/ItemMultipleChoiceCard.tsx
  judgels-frontends/raphael/src/components/ProblemWorksheetCard/Bundle/ProblemStatementCard/ItemStatementCard/ItemStatementCard.tsx
  judgels-frontends/raphael/src/modules/api/sandalphon/problemBundle.ts
Labels: bug, raphael

#137 Split contest problem page
  judgels-frontends/raphael/src/routes/uriel/contests/single/problems/single/ContestProblemPage/Bundle/ContestProblemPage.scss
  judgels-frontends/raphael/src/routes/uriel/contests/single/problems/single/ContestProblemPage/Bundle/ContestProblemPage.test.tsx
  judgels-frontends/raphael/src/routes/uriel/contests/single/problems/single/ContestProblemPage/Bundle/ContestProblemPage.tsx
  judgels-frontends/raphael/src/routes/uriel/contests/single/problems/single/ContestProblemPage/ContestProblemPage.tsx
  judgels-frontends/raphael/src/routes/uriel/contests/single/problems/single/ContestProblemPage/Programming/ContestProblemPage.scss
  judgels-frontends/raphael/src/routes/uriel/contests/single/problems/single/ContestProblemPage/Programming/ContestProblemPage.test.tsx
  judgels-frontends/raphael/src/routes/uriel/contests/single/problems/single/ContestProblemPage/Programming/ContestProblemPage.tsx
Labels: raphael

#134 Fix bundle submission missing info, empty answer handling, and multiple choice penalty calculation
  judgels-backends/sandalphon/sandalphon-api/src/main/java/judgels/sandalphon/api/problem/bundle/Item.java
  judgels-backends/sandalphon/sandalphon-api/src/main/java/judgels/sandalphon/api/submission/bundle/ItemSubmission.java
  judgels-backends/sandalphon/sandalphon-api/src/main/java/judgels/sandalphon/api/submission/bundle/Verdict.java
  judgels-backends/sandalphon/sandalphon-client/src/main/java/judgels/sandalphon/problem/ProblemClient.java
  judgels-backends/sandalphon/sandalphon-client/src/main/java/judgels/sandalphon/submission/bundle/ItemSubmissionGraderRegistry.java
  judgels-backends/sandalphon/sandalphon-client/src/main/java/judgels/sandalphon/submission/bundle/MultipleChoiceItemSubmissionGrader.java
  judgels-backends/sandalphon/sandalphon-client/src/test/java/judgels/sandalphon/submission/bundle/FixedVerdictItemSubmissionGraderTests.java
  judgels-backends/sandalphon/sandalphon-client/src/test/java/judgels/sandalphon/submission/bundle/MultipleChoiceItemSubmissionGraderTests.java
  judgels-backends/uriel/uriel-api/src/main/java/judgels/uriel/api/contest/submission/bundle/ContestItemSubmissionService.java
  judgels-backends/uriel/uriel-api/src/main/java/judgels/uriel/api/contest/submission/bundle/ContestItemSubmissionsResponse.java
  judgels-backends/uriel/uriel-api/src/main/java/judgels/uriel/api/contest/submission/bundle/ContestantAnswerSummaryResponse.java
  judgels-backends/uriel/uriel-app/src/integTest/java/judgels/uriel/api/contest/problem/ContestProblemServiceIntegrationTests.java
  judgels-backends/uriel/uriel-app/src/integTest/java/judgels/uriel/api/contest/submission/bundle/ContestItemSubmissionServiceIntegrationTests.java
  judgels-backends/uriel/uriel-app/src/integTest/java/judgels/uriel/api/contest/submission/programming/ContestSubmissionServiceIntegrationTests.java
  judgels-backends/uriel/uriel-app/src/integTest/java/judgels/uriel/api/mocks/MockSandalphon.java
  judgels-backends/uriel/uriel-app/src/main/java/judgels/uriel/contest/clarification/ContestClarificationResource.java
  judgels-backends/uriel/uriel-app/src/main/java/judgels/uriel/contest/problem/ContestProblemResource.java
  judgels-backends/uriel/uriel-app/src/main/java/judgels/uriel/contest/scoreboard/bundle/BundleScoreboardProcessor.java
  judgels-backends/uriel/uriel-app/src/main/java/judgels/uriel/contest/submission/bundle/ContestItemSubmissionResource.java
  judgels-backends/uriel/uriel-app/src/main/java/judgels/uriel/contest/submission/bundle/ContestItemSubmissionStore.java
  judgels-backends/uriel/uriel-app/src/main/java/judgels/uriel/contest/submission/programming/ContestSubmissionResource.java
  judgels-backends/uriel/uriel-app/src/test/java/judgels/uriel/contest/scoreboard/bundle/BundleScoreboardProcessorTests.java
  judgels-frontends/raphael/src/modules/api/sandalphon/problemBundle.ts
  judgels-frontends/raphael/src/modules/api/sandalphon/submissionBundle.ts
  judgels-frontends/raphael/src/modules/api/uriel/contestSubmissionBundle.ts
  judgels-frontends/raphael/src/routes/uriel/contests/single/submissions/Bundle/ProblemSubmissionsCard/ProblemSubmissionCard.tsx
  judgels-frontends/raphael/src/routes/uriel/contests/single/submissions/Bundle/SubmissionSummaryPage/SubmissionSummaryPage.tsx
  judgels-frontends/raphael/src/routes/uriel/contests/single/submissions/Bundle/VerdictTag/VerdictTag.tsx
  judgels-frontends/raphael/src/routes/uriel/contests/single/submissions/Bundle/modules/contestSubmissionActions.ts
  judgels-legacy/sandalphon/app/org/iatoki/judgels/sandalphon/controllers/api/client/v2/ClientProblemAPIControllerV2.java
Labels: bug, sandalphon, uriel

#136 add item number in multiple choice item
  judgels-frontends/raphael/src/components/ProblemWorksheetCard/Bundle/ProblemStatementCard/ItemMultipleChoiceCard/ItemMultipleChoiceCard.scss
  judgels-frontends/raphael/src/components/ProblemWorksheetCard/Bundle/ProblemStatementCard/ItemMultipleChoiceCard/ItemMultipleChoiceCard.tsx
  judgels-frontends/raphael/src/components/ProblemWorksheetCard/Bundle/ProblemStatementCard/ProblemStatementCard.tsx
  judgels-frontends/raphael/src/modules/api/uriel/contestSubmissionBundle.ts
  judgels-frontends/raphael/src/routes/uriel/contests/single/problems/single/ContestProblemPage/Bundle/ContestProblemPage.tsx
  judgels-frontends/raphael/src/routes/uriel/contests/single/submissions/Bundle/ContestSubmissionsPage/ContestSubmissionsPage.tsx
Labels: feature, raphael

#141 Add short answer and essay item types support for Uriel and Sandalphon
  judgels-backends/sandalphon/sandalphon-api/src/main/java/judgels/sandalphon/api/problem/bundle/EssayItemConfig.java
  judgels-backends/sandalphon/sandalphon-api/src/main/java/judgels/sandalphon/api/problem/bundle/Item.java
  judgels-backends/sandalphon/sandalphon-api/src/main/java/judgels/sandalphon/api/problem/bundle/ItemType.java
  judgels-backends/sandalphon/sandalphon-api/src/main/java/judgels/sandalphon/api/problem/bundle/MultipleChoiceItemConfig.java
  judgels-backends/sandalphon/sandalphon-api/src/main/java/judgels/sandalphon/api/problem/bundle/ShortAnswerItemConfig.java
  judgels-backends/sandalphon/sandalphon-api/src/main/java/judgels/sandalphon/api/submission/bundle/Grading.java
  judgels-backends/sandalphon/sandalphon-client/src/main/java/judgels/sandalphon/problem/bundle/EssayItemProcessor.java
  judgels-backends/sandalphon/sandalphon-client/src/main/java/judgels/sandalphon/problem/bundle/ItemProcessorRegistry.java
  judgels-backends/sandalphon/sandalphon-client/src/main/java/judgels/sandalphon/problem/bundle/ShortAnswerItemProcessor.java
  judgels-backends/sandalphon/sandalphon-client/src/main/java/judgels/sandalphon/submission/bundle/ItemSubmissionGraderRegistry.java
  judgels-backends/sandalphon/sandalphon-client/src/main/java/judgels/sandalphon/submission/bundle/ShortAnswerItemSubmissionGrader.java
  judgels-backends/sandalphon/sandalphon-client/src/test/java/judgels/sandalphon/submission/bundle/MultipleChoiceItemSubmissionGraderTests.java
  judgels-backends/sandalphon/sandalphon-client/src/test/java/judgels/sandalphon/submission/bundle/ShortAnswerItemSubmissionGraderTests.java
  judgels-backends/uriel/uriel-app/src/integTest/java/judgels/uriel/api/contest/problem/ContestProblemServiceIntegrationTests.java
  judgels-backends/uriel/uriel-app/src/integTest/java/judgels/uriel/api/contest/submission/bundle/ContestItemSubmissionServiceIntegrationTests.java
  judgels-backends/uriel/uriel-app/src/integTest/java/judgels/uriel/api/mocks/MockSandalphon.java
  judgels-backends/uriel/uriel-app/src/main/java/judgels/uriel/persistence/ContestBundleItemSubmissionModel.java
  judgels-backends/uriel/uriel-app/src/main/resources/migrations.xml
  judgels-backends/uriel/uriel-app/src/main/resources/migrations/004_change-bundle-item-score-type-to-double.xml
  judgels-legacy/sandalphon/app/org/iatoki/judgels/sandalphon/problem/bundle/item/BundleItemAdapters.java
  judgels-legacy/sandalphon/app/org/iatoki/judgels/sandalphon/problem/bundle/item/BundleItemConfAdapters.java
  judgels-legacy/sandalphon/app/org/iatoki/judgels/sandalphon/problem/bundle/item/BundleItemType.java
  judgels-legacy/sandalphon/app/org/iatoki/judgels/sandalphon/problem/bundle/item/ItemEssayAdapter.java
  judgels-legacy/sandalphon/app/org/iatoki/judgels/sandalphon/problem/bundle/item/ItemEssayConf.java
  judgels-legacy/sandalphon/app/org/iatoki/judgels/sandalphon/problem/bundle/item/ItemEssayConfAdapter.java
  judgels-legacy/sandalphon/app/org/iatoki/judgels/sandalphon/problem/bundle/item/ItemEssayConfForm.java
  judgels-legacy/sandalphon/app/org/iatoki/judgels/sandalphon/problem/bundle/item/ItemShortAnswerAdapter.java
  judgels-legacy/sandalphon/app/org/iatoki/judgels/sandalphon/problem/bundle/item/ItemShortAnswerConf.java
  judgels-legacy/sandalphon/app/org/iatoki/judgels/sandalphon/problem/bundle/item/ItemShortAnswerConfAdapter.java
  judgels-legacy/sandalphon/app/org/iatoki/judgels/sandalphon/problem/bundle/item/ItemShortAnswerConfForm.java
  judgels-legacy/sandalphon/app/org/iatoki/judgels/sandalphon/problem/bundle/item/itemEssayConfView.scala.html
  judgels-legacy/sandalphon/app/org/iatoki/judgels/sandalphon/problem/bundle/item/itemEssayView.scala.html
  judgels-legacy/sandalphon/app/org/iatoki/judgels/sandalphon/problem/bundle/item/itemMultipleChoiceView.scala.html
  judgels-legacy/sandalphon/app/org/iatoki/judgels/sandalphon/problem/bundle/item/itemShortAnswerConfView.scala.html
  judgels-legacy/sandalphon/app/org/iatoki/judgels/sandalphon/problem/bundle/item/itemShortAnswerView.scala.html
  judgels-legacy/sandalphon/conf/messages.en-US
Labels: feature, sandalphon, uriel

#140 update contest submission route
  judgels-frontends/raphael/src/routes/uriel/contests/single/submissions/Bundle/ContestSubmissionRoutes.tsx
  judgels-frontends/raphael/src/routes/uriel/contests/single/submissions/Bundle/SubmissionSummaryPage/SubmissionSummaryPage.tsx
Labels: feature, raphael

#144 add username profile in submission summary
  judgels-frontends/raphael/src/routes/uriel/contests/single/submissions/Bundle/SubmissionSummaryPage/SubmissionSummaryPage.tsx
Labels: feature, raphael

#146 Add itemTypesMap in submissions list and contestant answers summary endpoints
  judgels-backends/uriel/uriel-api/src/main/java/judgels/uriel/api/contest/submission/bundle/ContestItemSubmissionsResponse.java
  judgels-backends/uriel/uriel-api/src/main/java/judgels/uriel/api/contest/submission/bundle/ContestantAnswerSummaryResponse.java
  judgels-backends/uriel/uriel-app/src/integTest/java/judgels/uriel/api/contest/submission/bundle/ContestItemSubmissionServiceIntegrationTests.java
  judgels-backends/uriel/uriel-app/src/main/java/judgels/uriel/contest/submission/bundle/ContestItemSubmissionResource.java
Labels: uriel

#142 Implement short answer form
  .gitignore
  judgels-frontends/raphael/src/components/ProblemWorksheetCard/Bundle/ProblemStatementCard/ItemMultipleChoiceCard/ItemMultipleChoiceCard.tsx
  judgels-frontends/raphael/src/components/ProblemWorksheetCard/Bundle/ProblemStatementCard/ItemShortAnswerCard/ItemShortAnswerCard.tsx
  judgels-frontends/raphael/src/components/ProblemWorksheetCard/Bundle/ProblemStatementCard/ItemShortAnswerCard/ItemShortAnswerForm/ItemShortAnswerForm.scss
  judgels-frontends/raphael/src/components/ProblemWorksheetCard/Bundle/ProblemStatementCard/ItemShortAnswerCard/ItemShortAnswerForm/ItemShortAnswerForm.tsx
  judgels-frontends/raphael/src/components/ProblemWorksheetCard/Bundle/ProblemStatementCard/ProblemStatementCard.tsx
  judgels-frontends/raphael/src/components/ProblemWorksheetCard/Bundle/ProblemWorksheetCard.tsx
  judgels-frontends/raphael/src/components/ProblemWorksheetCard/Bundle/itemStatement.ts
  judgels-frontends/raphael/src/modules/api/sandalphon/problemBundle.ts
  judgels-frontends/raphael/src/routes/uriel/contests/single/submissions/Bundle/modules/contestSubmissionActions.ts
Labels: feature, raphael

#145 Ellipsise submission answer
  judgels-frontends/raphael/src/modules/api/uriel/contestSubmissionBundle.ts
  judgels-frontends/raphael/src/routes/uriel/contests/single/submissions/Bundle/ContestSubmissionsPage/ContestSubmissionsPage.scss
  judgels-frontends/raphael/src/routes/uriel/contests/single/submissions/Bundle/ContestSubmissionsPage/ContestSubmissionsPage.tsx
  judgels-frontends/raphael/src/routes/uriel/contests/single/submissions/Bundle/FormattedAnswer/FormattedAnswer.tsx
  judgels-frontends/raphael/src/routes/uriel/contests/single/submissions/Bundle/ProblemSubmissionsCard/ProblemSubmissionCard.scss
  judgels-frontends/raphael/src/routes/uriel/contests/single/submissions/Bundle/ProblemSubmissionsCard/ProblemSubmissionCard.tsx
  judgels-frontends/raphael/src/routes/uriel/contests/single/submissions/Bundle/SubmissionSummaryPage/SubmissionSummaryPage.tsx
Labels: feature, raphael

#149 Use problem alias and username instead of JIDs in bundle submissions endpoints
  judgels-backends/uriel/uriel-api/src/main/java/judgels/uriel/api/contest/submission/bundle/ContestItemSubmissionService.java
  judgels-backends/uriel/uriel-app/src/integTest/java/judgels/uriel/api/contest/submission/bundle/ContestItemSubmissionServiceIntegrationTests.java
  judgels-backends/uriel/uriel-app/src/main/java/judgels/uriel/contest/submission/bundle/ContestItemSubmissionResource.java
  judgels-backends/uriel/uriel-app/src/main/java/judgels/uriel/contest/submission/bundle/ContestItemSubmissionStore.java
  judgels-frontends/raphael/src/components/ProblemWorksheetCard/Bundle/ProblemStatementCard/ProblemStatementCard.tsx
  judgels-frontends/raphael/src/components/ProblemWorksheetCard/Bundle/ProblemWorksheetCard.tsx
  judgels-frontends/raphael/src/fixtures/state.ts
  judgels-frontends/raphael/src/modules/api/uriel/contestSubmissionBundle.ts
  judgels-frontends/raphael/src/routes/uriel/contests/single/problems/single/ContestProblemPage/Bundle/ContestProblemPage.test.tsx
  judgels-frontends/raphael/src/routes/uriel/contests/single/problems/single/ContestProblemPage/Bundle/ContestProblemPage.tsx
  judgels-frontends/raphael/src/routes/uriel/contests/single/submissions/Bundle/ContestSubmissionRoutes.tsx
  judgels-frontends/raphael/src/routes/uriel/contests/single/submissions/Bundle/ContestSubmissionsPage/ContestSubmissionsPage.tsx
  judgels-frontends/raphael/src/routes/uriel/contests/single/submissions/Bundle/SubmissionSummaryPage/SubmissionSummaryPage.tsx
  judgels-frontends/raphael/src/routes/uriel/contests/single/submissions/Bundle/modules/contestSubmissionActions.ts
Labels: dev, sandalphon, uriel

#151 Fix typos in ProblemStatementCard
  judgels-frontends/raphael/src/components/ProblemWorksheetCard/Bundle/ProblemStatementCard/ProblemStatementCard.tsx
Labels: bug, raphael

#153 Add automated test for submission reducer
  judgels-frontends/raphael/src/routes/uriel/contests/single/submissions/Bundle/modules/contestSubmissionActions.test.ts
Labels: raphael

#152 Fix short answer and essay items UX
  judgels-frontends/raphael/src/components/ProblemWorksheetCard/Bundle/ProblemStatementCard/ItemEssayCard/ItemEssayForm/ItemEssayForm.scss
  judgels-frontends/raphael/src/components/ProblemWorksheetCard/Bundle/ProblemStatementCard/ItemShortAnswerCard/ItemShortAnswerForm/ItemShortAnswerForm.scss
  judgels-frontends/raphael/src/components/ProblemWorksheetCard/Bundle/ProblemStatementCard/ItemShortAnswerCard/ItemShortAnswerForm/ItemShortAnswerForm.tsx
Labels: bug, raphael

#155 Provide button to clear answer on short answer and essay item
  judgels-frontends/raphael/src/components/ProblemWorksheetCard/Bundle/ProblemStatementCard/ItemEssayCard/ItemEssayForm/ItemEssayForm.tsx
  judgels-frontends/raphael/src/components/ProblemWorksheetCard/Bundle/ProblemStatementCard/ItemShortAnswerCard/ItemShortAnswerForm/ItemShortAnswerForm.tsx
  judgels-frontends/raphael/src/components/ProblemWorksheetCard/Bundle/itemStatement.ts
Labels: raphael
