Repository ia-toki/judgels, pull requests merged in 2019-02, with the labels that each got.

#85 Add API fot batch create user
  judgels-backends/jophiel/jophiel-api/src/main/java/judgels/jophiel/api/user/UserService.java
  judgels-backends/jophiel/jophiel-app/src/integTest/java/judgels/jophiel/api/user/UserServiceIntegrationTests.java
  judgels-backends/jophiel/jophiel-app/src/integTest/java/judgels/jophiel/user/UserStoreIntegrationTests.java
  judgels-backends/jophiel/jophiel-app/src/main/java/judgels/jophiel/user/UserResource.java
  judgels-backends/jophiel/jophiel-app/src/main/java/judgels/jophiel/user/UserStore.java
Labels: jophiel

#98 Uriel endpoint for viewing bundle problem items
  judgels-backends/sandalphon/sandalphon-api/src/main/java/judgels/sandalphon/api/client/problem/ClientProblemService.java
  judgels-backends/sandalphon/sandalphon-api/src/main/java/judgels/sandalphon/api/problem/ProblemInfo.java
  judgels-backends/sandalphon/sandalphon-api/src/main/java/judgels/sandalphon/api/problem/ProblemType.java
  judgels-backends/sandalphon/sandalphon-api/src/main/java/judgels/sandalphon/api/problem/bundle/BundleProblemWorksheet.java
  judgels-backends/sandalphon/sandalphon-api/src/main/java/judgels/sandalphon/api/problem/bundle/ProblemItem.java
  judgels-backends/sandalphon/sandalphon-api/src/main/java/judgels/sandalphon/api/problem/bundle/ProblemItemType.java
  judgels-backends/sandalphon/sandalphon-api/src/main/java/judgels/sandalphon/api/problem/programming/ProblemLimits.java
  judgels-backends/sandalphon/sandalphon-api/src/main/java/judgels/sandalphon/api/problem/programming/ProblemStatement.java
  judgels-backends/sandalphon/sandalphon-api/src/main/java/judgels/sandalphon/api/problem/programming/ProblemSubmissionConfig.java
  judgels-backends/sandalphon/sandalphon-api/src/main/java/judgels/sandalphon/api/problem/programming/ProgrammingProblemWorksheet.java
  judgels-backends/sandalphon/sandalphon-client/src/main/java/judgels/sandalphon/SandalphonUtils.java
  judgels-backends/sandalphon/sandalphon-client/src/main/java/judgels/sandalphon/submission/AbstractSubmissionClient.java
  judgels-backends/uriel/uriel-api/src/main/java/judgels/uriel/api/contest/ContestErrors.java
  judgels-backends/uriel/uriel-api/src/main/java/judgels/uriel/api/contest/problem/ContestBundleProblemWorksheet.java
  judgels-backends/uriel/uriel-api/src/main/java/judgels/uriel/api/contest/problem/ContestProblemService.java
  judgels-backends/uriel/uriel-api/src/main/java/judgels/uriel/api/contest/problem/ContestProgrammingProblemWorksheet.java
  judgels-backends/uriel/uriel-app/src/integTest/java/judgels/uriel/api/mocks/MockSandalphon.java
  judgels-backends/uriel/uriel-app/src/main/java/judgels/uriel/contest/problem/ContestProblemResource.java
  judgels-backends/uriel/uriel-app/src/main/java/judgels/uriel/contest/submission/ContestSubmissionResource.java
  judgels-frontends/raphael/src/modules/api/uriel/contestProblem.ts
  judgels-legacy/sandalphon-blackbox-adapters/app/org/iatoki/judgels/sandalphon/problem/programming/grading/blackbox/AbstractBoxGradingEngineAdapter.java
  judgels-legacy/sandalphon-blackbox-adapters/app/org/iatoki/judgels/sandalphon/problem/programming/statement/blackbox/blackBoxViewStatementView.scala.html
  judgels-legacy/sandalphon-commons/app/org/iatoki/judgels/sandalphon/problem/bundle/statement/bundleStatementView.scala.html
  judgels-legacy/sandalphon-commons/app/org/iatoki/judgels/sandalphon/problem/programming/grading/GradingEngineAdapter.java
  judgels-legacy/sandalphon/app/org/iatoki/judgels/sandalphon/controllers/api/client/v1/ClientBundleProblemStatementAPIControllerV1.java
  judgels-legacy/sandalphon/app/org/iatoki/judgels/sandalphon/controllers/api/client/v1/ClientProgrammingProblemStatementAPIControllerV1.java
  judgels-legacy/sandalphon/app/org/iatoki/judgels/sandalphon/controllers/api/client/v2/ClientProblemAPIControllerV2.java
  judgels-legacy/sandalphon/app/org/iatoki/judgels/sandalphon/problem/base/ProblemService.java
  judgels-legacy/sandalphon/app/org/iatoki/judgels/sandalphon/problem/base/ProblemServiceImpl.java
  judgels-legacy/sandalphon/app/org/iatoki/judgels/sandalphon/problem/base/statement/ProblemStatementController.java
  judgels-legacy/sandalphon/app/org/iatoki/judgels/sandalphon/problem/bundle/BundleProblemController.java
  judgels-legacy/sandalphon/app/org/iatoki/judgels/sandalphon/problem/bundle/item/BundleItemServiceImpl.java
  judgels-legacy/sandalphon/app/org/iatoki/judgels/sandalphon/problem/bundle/statement/BundleProblemStatementController.java
  judgels-legacy/sandalphon/app/org/iatoki/judgels/sandalphon/problem/programming/ProgrammingProblemController.java
  judgels-legacy/sandalphon/app/org/iatoki/judgels/sandalphon/problem/programming/statement/ProgrammingProblemStatementController.java
  judgels-legacy/sandalphon/conf/routes
Labels: raphael, sandalphon, uriel

#100 Uriel endpoints for bundle submissions
  judgels-backends/sandalphon/sandalphon-api/src/main/java/judgels/sandalphon/api/submission/BundleItemSubmission.java
  judgels-backends/uriel/uriel-api/src/main/java/judgels/uriel/api/contest/submission/bundle/ContestBundleItemSubmissionData.java
  judgels-backends/uriel/uriel-api/src/main/java/judgels/uriel/api/contest/submission/bundle/ContestBundleItemSubmissionService.java
  judgels-backends/uriel/uriel-api/src/main/java/judgels/uriel/api/contest/submission/bundle/ContestBundleItemSubmissionsResponse.java
  judgels-backends/uriel/uriel-app/src/main/java/judgels/uriel/UrielApplication.java
  judgels-backends/uriel/uriel-app/src/main/java/judgels/uriel/UrielComponent.java
  judgels-backends/uriel/uriel-app/src/main/java/judgels/uriel/contest/submission/bundle/ContestBundleItemSubmissionResource.java
  judgels-backends/uriel/uriel-app/src/main/java/judgels/uriel/contest/submission/bundle/ContestBundleItemSubmissionStore.java
  judgels-backends/uriel/uriel-app/src/main/java/judgels/uriel/hibernate/ContestBundleItemSubmissionHibernateDao.java
  judgels-backends/uriel/uriel-app/src/main/java/judgels/uriel/hibernate/UrielHibernateBundle.java
  judgels-backends/uriel/uriel-app/src/main/java/judgels/uriel/hibernate/UrielHibernateDaoModule.java
  judgels-backends/uriel/uriel-app/src/main/java/judgels/uriel/persistence/ContestBundleItemSubmissionDao.java
  judgels-backends/uriel/uriel-app/src/main/java/judgels/uriel/persistence/ContestBundleItemSubmissionModel.java
  judgels-backends/uriel/uriel-app/src/main/resources/migrations.xml
  judgels-backends/uriel/uriel-app/src/main/resources/migrations/002_add_bundle_item_submission.xml
Labels: uriel

#109 Automatic grading for bundle item submission
  judgels-backends/sandalphon/sandalphon-api/src/main/java/judgels/sandalphon/api/problem/bundle/ItemConfig.java
  judgels-backends/sandalphon/sandalphon-api/src/main/java/judgels/sandalphon/api/problem/bundle/MultipleChoiceItemConfig.java
  judgels-backends/sandalphon/sandalphon-api/src/main/java/judgels/sandalphon/api/submission/bundle/Grading.java
  judgels-backends/sandalphon/sandalphon-api/src/main/java/judgels/sandalphon/api/submission/bundle/ItemSubmission.java
  judgels-backends/sandalphon/sandalphon-api/src/main/java/judgels/sandalphon/api/submission/bundle/Verdict.java
  judgels-backends/sandalphon/sandalphon-client/src/main/java/judgels/sandalphon/submission/bundle/FixedVerdictItemSubmissionGrader.java
  judgels-backends/sandalphon/sandalphon-client/src/main/java/judgels/sandalphon/submission/bundle/ItemSubmissionGrader.java
  judgels-backends/sandalphon/sandalphon-client/src/main/java/judgels/sandalphon/submission/bundle/ItemSubmissionGraderRegistry.java
  judgels-backends/sandalphon/sandalphon-client/src/main/java/judgels/sandalphon/submission/bundle/MultipleChoiceItemSubmissionGrader.java
  judgels-backends/sandalphon/sandalphon-client/src/test/java/judgels/sandalphon/submission/bundle/FixedVerdictItemSubmissionGraderTests.java
  judgels-backends/sandalphon/sandalphon-client/src/test/java/judgels/sandalphon/submission/bundle/MultipleChoiceItemSubmissionGraderTests.java
  judgels-backends/uriel/uriel-api/src/main/java/judgels/uriel/api/contest/submission/bundle/ContestItemSubmissionService.java
  judgels-backends/uriel/uriel-api/src/main/java/judgels/uriel/api/contest/submission/bundle/ContestantAnswersResponse.java
  judgels-backends/uriel/uriel-app/src/main/java/judgels/uriel/contest/submission/bundle/ContestItemSubmissionResource.java
  judgels-backends/uriel/uriel-app/src/main/java/judgels/uriel/contest/submission/bundle/ContestItemSubmissionStore.java
  judgels-backends/uriel/uriel-app/src/main/java/judgels/uriel/hibernate/ContestBundleItemSubmissionHibernateDao.java
  judgels-backends/uriel/uriel-app/src/main/java/judgels/uriel/hibernate/ContestProgrammingSubmissionHibernateDao.java
  judgels-backends/uriel/uriel-app/src/main/java/judgels/uriel/hibernate/UrielHibernateDaoModule.java
  judgels-backends/uriel/uriel-app/src/main/java/judgels/uriel/persistence/ContestBundleItemSubmissionDao.java
  judgels-backends/uriel/uriel-app/src/main/java/judgels/uriel/persistence/ContestBundleItemSubmissionModel.java
  judgels-backends/uriel/uriel-app/src/main/resources/migrations.xml
  judgels-backends/uriel/uriel-app/src/main/resources/migrations/003_add-grading-to-bundle-item-submission.xml
Labels: uriel

#115 Fix missing statement for bundle problem worksheet endpoint in Uriel
  judgels-backends/sandalphon/sandalphon-api/src/main/java/judgels/sandalphon/api/problem/bundle/ProblemWorksheet.java
  judgels-legacy/sandalphon/app/org/iatoki/judgels/sandalphon/controllers/api/client/v2/ClientProblemAPIControllerV2.java
Labels: bug, sandalphon, uriel

#117 fix answer, use empty string instead of undefined
  judgels-frontends/raphael/src/components/ProblemWorksheetCard/Bundle/ProblemStatementCard/ProblemStatementCard.tsx
  judgels-frontends/raphael/src/modules/api/uriel/contestSubmissionBundle.ts
  judgels-frontends/raphael/src/routes/uriel/contests/single/submissions/Programming/modules/contestBundleSubmissionActions.ts
Labels: bug, raphael

#110 Bundle contest scoreboard
  judgels-frontends/raphael/src/modules/api/uriel/scoreboard.ts
  judgels-frontends/raphael/src/routes/uriel/contests/single/scoreboard/BundleScoreboardTable/BundleScoreboardPage.scss
  judgels-frontends/raphael/src/routes/uriel/contests/single/scoreboard/BundleScoreboardTable/BundleScoreboardPage.test.tsx
  judgels-frontends/raphael/src/routes/uriel/contests/single/scoreboard/BundleScoreboardTable/BundleScoreboardPage.tsx
  judgels-frontends/raphael/src/routes/uriel/contests/single/scoreboard/ContestScoreboardPage/ContestScoreboardPage.tsx
Labels: feature, raphael, uriel

#114 Bundle contest style and scoreboard Uriel endpoints
  judgels-backends/uriel/uriel-api/src/main/java/judgels/uriel/api/contest/ContestStyle.java
  judgels-backends/uriel/uriel-api/src/main/java/judgels/uriel/api/contest/module/BundleStyleModuleConfig.java
  judgels-backends/uriel/uriel-api/src/main/java/judgels/uriel/api/contest/module/ContestModulesConfig.java
  judgels-backends/uriel/uriel-api/src/main/java/judgels/uriel/api/contest/scoreboard/BundleScoreboard.java
  judgels-backends/uriel/uriel-app/src/main/java/judgels/uriel/contest/module/ContestModuleStore.java
  judgels-backends/uriel/uriel-app/src/main/java/judgels/uriel/contest/scoreboard/ContestScoreboardUpdater.java
  judgels-backends/uriel/uriel-app/src/main/java/judgels/uriel/contest/scoreboard/ContestScoreboardUpdaterModule.java
  judgels-backends/uriel/uriel-app/src/main/java/judgels/uriel/contest/scoreboard/ScoreboardProcessor.java
  judgels-backends/uriel/uriel-app/src/main/java/judgels/uriel/contest/scoreboard/ScoreboardProcessorRegistry.java
  judgels-backends/uriel/uriel-app/src/main/java/judgels/uriel/contest/scoreboard/bundle/BundleScoreboardProcessor.java
  judgels-backends/uriel/uriel-app/src/main/java/judgels/uriel/contest/scoreboard/bundle/UsingTotalAnsweredItemsBundleScoreboardEntryComparator.java
  judgels-backends/uriel/uriel-app/src/main/java/judgels/uriel/contest/scoreboard/gcj/GcjScoreboardProcessor.java
  judgels-backends/uriel/uriel-app/src/main/java/judgels/uriel/contest/scoreboard/icpc/IcpcScoreboardProcessor.java
  judgels-backends/uriel/uriel-app/src/main/java/judgels/uriel/contest/scoreboard/ioi/IoiScoreboardProcessor.java
  judgels-backends/uriel/uriel-app/src/main/java/judgels/uriel/contest/submission/bundle/ContestItemSubmissionStore.java
  judgels-backends/uriel/uriel-app/src/main/java/judgels/uriel/hibernate/ContestBundleItemSubmissionHibernateDao.java
  judgels-backends/uriel/uriel-app/src/main/java/judgels/uriel/persistence/ContestBundleItemSubmissionDao.java
  judgels-backends/uriel/uriel-app/src/test/java/judgels/uriel/contest/scoreboard/gcj/GcjScoreboardProcessorTests.java
  judgels-backends/uriel/uriel-app/src/test/java/judgels/uriel/contest/scoreboard/icpc/IcpcScoreboardProcessorTests.java
  judgels-backends/uriel/uriel-app/src/test/java/judgels/uriel/contest/scoreboard/ioi/IoiScoreboardProcessorTests.java
Labels: feature, uriel
