Repository ia-toki/judgels, pull requests merged in 2019-06, with the labels that each got.

#207 Move textarea from TinyMCETextArea to FromRichTextArea so TinyMCE not rerender every onChange
  judgels-frontends/raphael/src/components/forms/FormRichTextArea/FormRichTextArea.tsx
  judgels-frontends/raphael/src/components/forms/FormRichTextArea/TinyMCETextArea.tsx
Labels: raphael

#217 Add support for deployments without Nginx reverse proxy
  deployment/ansible/roles/jerahmeel-deploy/tasks/main.yml
  deployment/ansible/roles/jophiel-deploy/tasks/main.yml
  deployment/ansible/roles/mysql-install/tasks/main.yml
  deployment/ansible/roles/nginx-certbot-deploy/tasks/main.yml
  deployment/ansible/roles/rabbitmq-deploy/tasks/main.yml
  deployment/ansible/roles/raphael-deploy/tasks/main.yml
  deployment/ansible/roles/sandalphon-deploy/tasks/main.yml
  deployment/ansible/roles/sealtiel-deploy/tasks/main.yml
  deployment/ansible/roles/ufw-install/tasks/main.yml
  deployment/ansible/roles/uriel-deploy/tasks/main.yml
Labels: infra

#216 Custom parameters for superadmin creator
  deployment/ansible/conf/jophiel.yml.j2
  deployment/ansible/dist-example/env.yml
  judgels-backends/jophiel/jophiel-app/src/integTest/java/judgels/jophiel/api/AbstractServiceIntegrationTests.java
  judgels-backends/jophiel/jophiel-app/src/main/java/judgels/jophiel/JophielApplication.java
  judgels-backends/jophiel/jophiel-app/src/main/java/judgels/jophiel/JophielConfiguration.java
  judgels-backends/jophiel/jophiel-app/src/main/java/judgels/jophiel/user/superadmin/SuperadminCreator.java
  judgels-backends/jophiel/jophiel-app/src/main/java/judgels/jophiel/user/superadmin/SuperadminCreatorConfiguration.java
  judgels-backends/jophiel/jophiel-app/src/main/java/judgels/jophiel/user/superadmin/SuperadminModule.java
  judgels-backends/jophiel/jophiel-app/src/test/java/judgels/jophiel/user/superadmin/SuperadminCreatorTests.java
  judgels-backends/jophiel/jophiel-dist/var/conf/jophiel.yml.example
  judgels-backends/sandalphon/sandalphon-client/src/main/java/judgels/sandalphon/submission/programming/GradingResponsePoller.java
Labels: infra, jophiel
