Repository ia-toki/judgels, pull requests merged in 2019-04, with the labels that each got.

#159 Add UFW firewall config to droplet-provision Ansible role
  deployment/ansible/roles/droplet-provision/meta/main.yml
  deployment/ansible/roles/ufw/tasks/main.yml
Labels: feature

#169 Fix tab character bug in essay text area
  judgels-frontends/raphael/src/components/ProblemWorksheetCard/Bundle/ProblemStatementCard/ItemEssayCard/ItemEssayForm/ItemEssayForm.tsx
Labels: raphael

#174 Set security-related HTTP headers except those related to XSS protection
  deployment/ansible/conf/nginx-certbot.conf.j2
Labels: infra, security

#172 Remove submit buttons on bundle contests when contest is over
  judgels-frontends/raphael/src/components/ProblemWorksheetCard/Bundle/ProblemStatementCard/ItemEssayCard/ItemEssayForm/ItemEssayForm.tsx
  judgels-frontends/raphael/src/components/ProblemWorksheetCard/Bundle/ProblemStatementCard/ItemMultipleChoiceCard/ItemMultipleChoiceCard.tsx
  judgels-frontends/raphael/src/components/ProblemWorksheetCard/Bundle/ProblemStatementCard/ItemShortAnswerCard/ItemShortAnswerForm/ItemShortAnswerForm.tsx
  judgels-frontends/raphael/src/components/ProblemWorksheetCard/Bundle/ProblemStatementCard/ProblemStatementCard.tsx
  judgels-frontends/raphael/src/components/ProblemWorksheetCard/Bundle/ProblemWorksheetCard.tsx
  judgels-frontends/raphael/src/modules/api/sandalphon/problemBundle.ts
Labels: raphael

#176 Add support for using manual grading for multiple choice/short answer items
  judgels-backends/sandalphon/sandalphon-client/src/main/java/judgels/sandalphon/submission/bundle/MultipleChoiceItemSubmissionGrader.java
  judgels-backends/sandalphon/sandalphon-client/src/main/java/judgels/sandalphon/submission/bundle/ShortAnswerItemSubmissionGrader.java
  judgels-backends/sandalphon/sandalphon-client/src/test/java/judgels/sandalphon/submission/bundle/MultipleChoiceItemSubmissionGraderTests.java
  judgels-backends/sandalphon/sandalphon-client/src/test/java/judgels/sandalphon/submission/bundle/ShortAnswerItemSubmissionGraderTests.java
  judgels-legacy/sandalphon/app/org/iatoki/judgels/sandalphon/problem/bundle/item/ItemShortAnswerConfAdapter.java
  judgels-legacy/sandalphon/app/org/iatoki/judgels/sandalphon/problem/bundle/item/ItemShortAnswerConfForm.java
  judgels-legacy/sandalphon/conf/messages.en-US
Labels: feature, sandalphon, uriel

#185 Server perfomance fixes
  deployment/ansible/conf/nginx-certbot.conf.j2
  deployment/ansible/roles/nginx-certbot-deploy/tasks/main.yml
  deployment/nginx-certbot/nginx.conf
Labels: infra

#195 Optimize mass regrade of bundle items
  judgels-backends/judgels-commons/judgels-persistence-core/src/main/java/judgels/persistence/UnmodifiableDao.java
  judgels-backends/judgels-commons/judgels-persistence-core/src/main/java/judgels/persistence/hibernate/UnmodifiableHibernateDao.java
  judgels-backends/sandalphon/sandalphon-client/src/main/java/judgels/sandalphon/hibernate/AbstractBundleItemSubmissionHibernateDao.java
  judgels-backends/sandalphon/sandalphon-client/src/main/java/judgels/sandalphon/persistence/BaseBundleItemSubmissionDao.java
  judgels-backends/sandalphon/sandalphon-client/src/main/java/judgels/sandalphon/submission/bundle/BaseItemSubmissionStore.java
  judgels-backends/sandalphon/sandalphon-client/src/main/java/judgels/sandalphon/submission/bundle/ItemSubmissionRegrader.java
  judgels-backends/sandalphon/sandalphon-client/src/main/java/judgels/sandalphon/submission/bundle/ItemSubmissionStore.java
  judgels-backends/uriel/uriel-api/src/main/java/judgels/uriel/api/contest/submission/bundle/ContestItemSubmissionService.java
  judgels-backends/uriel/uriel-app/src/main/java/judgels/uriel/contest/submission/bundle/ContestItemSubmissionResource.java
Labels: uriel

#196 Fix bundle regrade: submission updated_at and updated_by should not be modified
  judgels-backends/sandalphon/sandalphon-client/src/main/java/judgels/sandalphon/hibernate/AbstractBundleItemSubmissionHibernateDao.java
  judgels-backends/sandalphon/sandalphon-client/src/main/java/judgels/sandalphon/persistence/BaseBundleItemSubmissionDao.java
  judgels-backends/sandalphon/sandalphon-client/src/main/java/judgels/sandalphon/submission/bundle/BaseItemSubmissionStore.java
Labels: bug, uriel

#197 Lazy Loading TinyMCE using Loadable
  judgels-frontends/raphael/src/components/forms/FormRichTextArea/FormRichTextArea.tsx
  judgels-frontends/raphael/src/components/forms/FormRichTextArea/TinyMCETextArea.tsx
Labels: raphael

#199 fallback to textarea when loading
  judgels-frontends/raphael/src/components/forms/FormRichTextArea/FormRichTextArea.tsx
Labels: bug, raphael
